<h2> Add Availability for the selected cloud <%= @cloud_id %> <h2>

<form action="/clouds/<%= @cloud_id %>/add_availability" method="POST">
  <label for="available_from">
    Available from (DD/MM/YY)
    <input type="date" name="available_from">
  </label>
  <label for="available_to">
	Available to (DD/MM/YY)
    <input type="date" name="available_to">
  </label>
  <input type="submit" value="Add Availability">
</form>
