<h2> Add Availability for the cloud <h2>

<form action="#" method="get" align="center">
  <label for="available_from">
    Available from (DD/MM/YY)
    <input type="date" name="Available from">
  </label>
  <label for="available_to">
	Available to (DD/MM/YY)
    <input type="date" name="Available to">
  </label>
  <input type="submit" value="Update">
</form>