<h1> Make a booking </h1>


<label>
Choose your preferred date
<input type="date" name="start_date" min= "<%= @available.start_date %>" max= "<%= @available.end_date %>"    required>
<input type="date" name="end_date" min= "<%= @available.start_date %>" max= "<%= @available.end_date %>"    required>

<span class="validity"></span>
</label>

<input type="submit" value="Book">