<p align="right"> <a href="/"> Sign out </a> &nbsp;&nbsp; <a href="/requests"> Requests </a></p>

<h1><p align="center"> <%= 'Book a cloud stay'%> </p></h1> 

<form action='/new'>
<p align="center"><input type="submit" value="Add a cloud listing"></p>
</form>

<form action="/clouds" method="post" align="center">
  <label for="available_from">
    Available from (DD/MM/YY)
    <input type="text" name="Available from">
  </label>
  <label for="available_to">
	Available to (DD/MM/YY)
    <input type="text" name="Available to">
  </label>
  <input type="submit" value="Update">
</form>

<table id="Available clouds" style="width: 80%;" border = "4"cellpadding = "1" align="center">
  <thead>
    <tr>
      <th colspan="3"><h2>AVAILABLE CLOUDS</h2></th>
    </tr>
  </thead>
  <tbody>
  <% @clouds.each do |cloud| %> 
    <tr>
      <td><%= cloud.name %></td>
      <td><%= cloud.description %></td>
      <td><%= cloud.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>